@page "/rules/minorversion"
@inherits MinorVersionDataModel

<style>
    .feature-logo {
        display: flex;
        align-self: center;
    }

    .feature-logo-text {
        flex: 1;
        align-self: center;
        margin: 15px;
    }

    tr:hover {
        background-color: lightgray;
    }

    .selected-row {
        font-weight: bold;
        font-style: italic;
    }

    .new-version-rule {
        display: flex;
    }

</style>

@if (Busy)
{
    <div class="feature-logo">
        <SpinKitCircle />
        <p class="feature-logo-text"><em>Loading Filters...</em></p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Major</th>
                <th>Minor</th>
                <th>Patch</th>
                <th>Build</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rule in VersionRules)
            {
                var style = rule == SelectedVersionRule ? "selected-row" : "";
                <tr @onclick="@(async () => await OnEdit(rule))" class="@style">
                    <td>@rule.Major</td>
                    <td>@rule.Minor</td>
                    <td>@rule.Patch</td>
                    <td>@rule.BuildVersion</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <div class="new-version-rule">
            <MatInputTextComponent Label="Major" TValue="int?" @bind-Value="@EditableRule.Major"></MatInputTextComponent>
            <MatInputTextComponent Label="Minor" TValue="int?" @bind-Value="@EditableRule.Minor"></MatInputTextComponent>
            <MatInputTextComponent Label="Patch" TValue="int?" @bind-Value="@EditableRule.Patch"></MatInputTextComponent>
            <MatInputTextComponent Label="Build" TValue="int?" @bind-Value="@EditableRule.BuildVersion"></MatInputTextComponent>
            <MatButton Icon="new" Raised="true" @onclick="@(async () => await OnNew())">New</MatButton>
        </div>
        <MatButton Disabled="@EditableRule.Invalid" Icon="save" Raised="true" @onclick="@(async () => await OnConfirm())">Confirm</MatButton>
    </div>

}