@page "/features"
@inherits FeaturesDataModel

<style>
    .combination-container {
        height: calc(100% - 220px);
    }

    .features-options {
        display: flex;
    }

    .options-filter, .options-layout {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 3px;
        padding: 3px;
        background-color: lightgray;
    }

    .options-layout {
        flex: 0 0 20%;
    }

    .options-search {
        margin: 3px;
    }

    .filter-row {
        display: flex;
        flex: 1;
    }

    .filter-item {
        display: flex;
        flex: 1;
        align-items: center;
    }

        .filter-item > a {
            width: 30%;
            text-align: right;
            margin: 3px;
        }

        .filter-item > select {
            width: 70%;
            margin: 3px;
        }

    .logo {
        display: flex;
        align-self: center;
    }

    .logo-text {
        flex: 1;
        align-self: center;
        margin: 15px;
    }

    .select-field {
        display: flex;
        flex: 1;
        margin: 3px;
    }

    .select-field > .mdc-select__anchor {
        flex: 1;
        height: 36px;
    }
</style>

<p>Check feature availability for a specific combination</p>

@if (FiltersBusy)
{
    <div class="logo">
        <SpinKitCircle />
        <p class="logo-text"><em>Loading Filters...</em></p>
    </div>
}
else
{
    <div class="features-options">
        <div class="options-filter">
            <h5>Filters</h5>
            <div class="filter-row">
                <div class="filter-item">
                    @if (Models == null)
                    {
                        <p><em>Models Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select a Model" Outlined="true" @bind-Value="SelectedModel.Id" TValue="int?" Disabled="@DisableModel">
                            @foreach (var model in Models)
                            {
                                <MatOption TValue="int?" Value="@model.Id">@model.Name</MatOption>
                            }
                        </MatSelect>
                    }
                </div>

                <div class="filter-item">
                    @if (Countries == null)
                    {
                        <p><em>Countries Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select a Country" Outlined="true" @bind-Value="SelectedCountry.Id" TValue="int?" Disabled="@DisableCountry">
                            @foreach (var country in Countries)
                            {
                                <MatOption TValue="int?" Value="@country.Id">@country.Name</MatOption>
                            }
                        </MatSelect>
                    }
                </div>

                <div class="filter-item">
                    @if (UserLevels == null)
                    {
                        <p><em>User Levels Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select an User Level" Outlined="true" @bind-Value="SelectedUserLevelText" TValue="string" Disabled="@DisableUserLevel">
                            @foreach (var userLevel in UserLevels)
                            {
                                <MatOption TValue="string" Value="@userLevel.ToString()">@userLevel</MatOption>
                            }
                        </MatSelect>
                    }
                </div>

                <div class="filter-item">
                    @if (Applications == null)
                    {
                        <p><em>Applications Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select an Application" Outlined="true" @bind-Value="SelectedApplication.Id" TValue="int?" Disabled="@DisableApplication">
                            <MatOption TValue="int?"></MatOption>
                            @foreach (var application in Applications)
                            {
                                <MatOption TValue="int?" value="@application.Id">@application.Name</MatOption>
                            }
                        </MatSelect>
                    }
                </div>
            </div>

            <div class="filter-row">
                <div class="filter-item">
                    @if (Probes == null)
                    {
                        <p><em>Probes Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select a Probe" Outlined="true" @bind-Value="SelectedProbe.Id" TValue="int?" Disabled="@DisableProbe">
                            <MatOption TValue="int?"></MatOption>
                            @foreach (var probe in Probes)
                            {
                                <MatOption TValue="int?" value="@probe.Id">@probe.Name</MatOption>
                            }
                        </MatSelect>
                    }
                </div>

                <div class="filter-item">
                    @if (Kits == null)
                    {
                        <p><em>Kits Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select a Kit" Outlined="true" @bind-Value="SelectedKit.Id" TValue="int?" Disabled="@DisableKit">
                            <MatOption TValue="int?"></MatOption>
                            @foreach (var kit in Kits)
                            {
                                <MatOption TValue="int?" value="@kit.Id">@kit.Name</MatOption>
                            }
                        </MatSelect>
                    }
                </div>

                <div class="filter-item">
                    @if (Options == null)
                    {
                        <p><em>Options Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select an Option" Outlined="true" @bind-Value="SelectedOption.Id" TValue="int?" Disabled="@DisableOption">
                            <MatOption TValue="int?"></MatOption>
                            @foreach (var option in Options)
                            {
                                <MatOption TValue="int?" value="@option.Id">@option.Name</MatOption>
                            }
                        </MatSelect>
                    }
                </div>

                <div class="filter-item">
                    @if (Versions == null)
                    {
                        <p><em>Versions Loading...</em></p>
                    }
                    else
                    {
                        <MatSelect Class="select-field" Label="Select a Version" Outlined="true" @bind-Value="SelectedVersion.Id" TValue="int?" Disabled="@DisableVersion">
                            <MatOption TValue="int?"></MatOption>
                            @foreach (var version in Versions)
                            {
                                <MatOption TValue="int?" value="@version.Id">@version.BuildVersion</MatOption>
                            }
                        </MatSelect>
                    }
                </div>
            </div>
        </div>

        <div class="options-layout">
            <h5>Layout</h5>
            <div class="filter-item">
                @if (LayoutViews == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <MatSelect Class="select-field" Label="Select Row Output" Outlined="true" @bind-Value="SelectedRowLayoutText" TValue="string">
                        <MatOption TValue="string"></MatOption>
                        @foreach (var layoutView in LayoutViews)
                        {
                            <MatOption TValue="string" value="@layoutView.ToString()">@layoutView</MatOption>
                        }
                    </MatSelect>
                }
            </div>
            <div class="filter-item">
                @if (LayoutViews == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <MatSelect Class="select-field" Label="Select Column Output" Outlined="true" @bind-Value="SelectedColumnLayoutText" TValue="string">
                        <MatOption TValue="string"></MatOption>
                        @foreach (var layoutView in LayoutViews)
                        {
                            <MatOption TValue="string" value="@layoutView.ToString()">@layoutView</MatOption>
                        }
                    </MatSelect>
                }
            </div>
            <div class="filter-item">
                @if (LayoutViews == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <MatSelect Class="select-field" Label="Select Cell Output" Outlined="true" @bind-Value="SelectedCellLayoutText" TValue="string">
                        <MatOption TValue="string"></MatOption>
                        @foreach (var layoutView in LayoutViews)
                        {
                            <MatOption TValue="string" value="@layoutView.ToString()">@layoutView</MatOption>
                        }
                    </MatSelect>
                }
            </div>
        </div>

        <div class="options-search">
            <button class="btn btn-info" @onclick="OnSearch">
                <i class="fa fa-search"></i>
            </button>
        </div>

    </div>
}

<div class="combination-container">

    @if (CombinationsBusy)
    {
        <div class="logo">
            <SpinKitCircle />
            <p class="logo-text"><em>Loading Data...</em></p>
        </div>
    }
    else
    {
        @*<CombinationDataGrid Combination="@Combination"></CombinationDataGrid>*@
        <CombinationMatrix Combination="@Combination"></CombinationMatrix>
        @*<VirtualizeCombinationMatrix Combination="@Combination"></VirtualizeCombinationMatrix>*@
    }

</div>
