@inherits CellComponentDataModel

<style>
    .background-mode-available {
        background-color: cadetblue;
    }

    .background-mode-default {
        background-color: lightgray;
    }
    .background-mode-no {
        background-color: burlywood;
    }
    .background-mode-null {
        background-color: burlywood;
    }

    .cell-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .cell-selected {
        background-color: #b0bec5 !important;
        font-weight: bold;
    }

    .cell-active {
        background-color: #90a4ae !important;
        font-weight: bold;
    }
</style>

@if (Cell == null)
{
    <td>Empty</td>
}
else
{
    @if (string.IsNullOrWhiteSpace(Cell.AggregateItems))
    {
        <td @onmouseover="@(async e => OnCellMouseEnter(Cell))" @onmouseout="@(async e => OnCellMouseLeave(Cell))" @onclick="@(async e => OnCellClick(Cell))" class="@Cell.ClassValue">@Cell.AllowMode</td>
    }
    else
    {
        <td>@Cell.AggregateItems</td>
        @*<td>
                @foreach (var item in cell.Items)
                {
                    <span>@item.Name</span>
                }
            </td>*@
    }
}
